[project]
	description = Template repo of the starter files for a C++ project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jim Youngquist (daemacles)
[access "refs/for/refs/*"]
	read = group user/Jim Youngquist (daemacles)
	push = group user/Jim Youngquist (daemacles)
	label-Code-Review = -2..+2 group user/Jim Youngquist (daemacles)
	label-Verified = -1..+1 group user/Jim Youngquist (daemacles)
	rebase = group user/Jim Youngquist (daemacles)
	removeReviewer = group user/Jim Youngquist (daemacles)
	submit = group user/Jim Youngquist (daemacles)
[access "refs/heads/*"]
	read = group user/Jim Youngquist (daemacles)
	create = group user/Jim Youngquist (daemacles)
	push = +force group user/Jim Youngquist (daemacles)
	pushMerge = group user/Jim Youngquist (daemacles)
[access "refs/tags/*"]
	push = +force group user/Jim Youngquist (daemacles)
	pushTag = group user/Jim Youngquist (daemacles)
	pushSignedTag = group user/Jim Youngquist (daemacles)
